<% provide(:title, "Sign up") %>
<style>
	form {
        margin: 0 auto;
        width: 50%;
        text-align: center;
    }
	
</style>

<%=	form_for(@user)	do	|f|	%>
</br>
	<h1>Sign Up</h1>
	<%=	render	'shared/error_messages'	%></br>
	<h3 class="specialH3">Name</h3>
	<%=	f.text_field :name, class: 'specialInput' %></br>
	<h3 class="specialH3">Email Address</h3>
	<%=	f.email_field :email, class: 'specialInput' %></br>
	<h3 class="specialH3">Password</h3>
	<%=	f.password_field :password, class: 'specialInput' %></br>
	<h3 class="specialH3">Password Confirmation</h3>
	<%=	f.password_field :password_confirmation, class: 'specialInput' %></br>
	<br>
	<br>
	<%=	f.submit "CREATE ACCOUNT", class: "specialBtn" %></br>
	</br>
<%	end	%>
