<% provide(:title, "Product") %>
<br>
<p id="notice"><%= notice %></p>
<h1><%= @product.name %></h1>
<section id='show1'>
<form id="prod1">
  <% if @product.default_image %>
    <%= image_tag @product.default_image.path %>
  <% end %>

  <p><%= @product.short_description %></p>
   
  <p><b><%= number_to_currency @product.price %></b></p>

  <%= simple_format @product.description %>
  
 
  
</form>

</section>
<section id='show2'>
<% unless @attributes.empty? %>
  <% @attributes.each do |attribute| %>
    <h2 style="text-decoration:none; line-height:100%"> Grown by <%= attribute.value %></h2>
    <%= link_to (image_tag @product.data_sheet.path), product_filter_path(:key => attribute.key, :value => attribute.value)  %></br>
    </br></br>
  <p style="text-align: center;">
        <%= link_to 'OTHER PRODUCTS FROM THIS SUPPLIER', product_filter_path(:key => attribute.key, :value => attribute.value), class: 'specialBtn2' %>
</br></br>
    <%= link_to 'BACK TO PRODUCTS', catalog_path,  :class=>"specialBtn2"  %>
    </br></br>
    <%= link_to 'ADD TO BASKET', product_path(@product.permalink), :method => :post,  :class=>"specialBtn2"  %>
  </p>  
  <% end %>
<% end %>

</section>

    