<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
 
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="icon" href="../../assets/favicon.png" type="image/gif" sizes="32x32">
</head>
<body>
  <%= render "layouts/header" %>
  <div class="clear"></div>
  <div class="push">
    <div class="push">
      <div class="container" >
	    <%= yield %>
		<footer></footer>
	  </div>
    </div>
   </div>
  </div>
  <%= render "layouts/footer" %>
</body>
</html>
